<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="practice" enabled="false">
        <classes>
            <class name="org.example.DockerDemo">
                <methods>
                    <include name="verifyHomePageTitle"/>
                </methods>
            </class>
            <class name="org.example.ScrollTest">
                <methods>
                    <include name="scrollTest"/>
                </methods>
            </class>
            <class name="org.example.VerifyHomePageTitle">
                <methods>
                    <include name="verifyHomePageTitle"/>
                    <include name="testingMultiData"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Hompage"  >
       <classes>
           <class name="com.rzt.LoginTest"/>
       </classes>

    </test>
</suite>